.vscode
.vs
svosmapi/bin
svosmapi/obj
svosmapi/assets
content.json
.tex
log.txt
data/Characters-out.json
data/Portraits-out.json
data/Config-out.json
svosmapi/ModEntry-archive.cs
/ModEntry-archive.cs
/config-archive.cs
gmcm
IGenericModConfigMenuApi.cs